@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap');
body { 
    font-family: 'Bitter', serif;
    text-align: center;
    background-color: rgb(0, 255, 242);
}
.capa{
    width: 68%;
}
.beneficios-imagem{
    width: 50%;
}